<div class="top_header">
	<div class="logo"></div>
	<div class="navi">
		<ul>
			<li><%= link_to 'blog', 'http://ameblo.jp/aya-ohiruneart/', {:target => "_blank"} %></li>
			<li><%= link_to 'Contact', 'http://ws.formzu.net/fgen/S2131454/', {:target => "_blank"} %></li>
			<li><%=link_to 'Buy Now', 'http://www.google.co.jp', {:target => "_blank"} %></li>
		</ul>
	</div>
</div>
